.todo {
	max-width: 500px;
	margin: 0 auto;
	&__wrapper {
		padding: 5px;
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__input {
		max-width: 400px;
		margin-right: 20px;
	}

	&__add {
		width: 25px;
		height: 25px;
	}
}
